.loginButtonstyle {
float:right;
font-family: 'Josefin Sans', sans-serif;

}

a{
    color:#fff;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
  }

a:hover{
 color:darkgrey;
  }

#link {

  color:white;
  margin-left: 5%;
}

.logoDesign{
 
  width: 8%;
  height: 8%;
  margin-left: 20px;
}

Header{
  font-family: 'Josefin Sans', sans-serif;
  position: fixed;
  font-weight: bold;
}

.headerNavButton:hover{
  color: rgba(254,170,150,255);
  border-bottom: solid rgba(254,170,150,255);
  padding-bottom: 10px;
}

.headerNavButton{
  font-size: 20px;
  transition-duration: 0.3s;
}