.loginButtonstyle{
    /* float:right; */
    margin-left: 30%;
    background-color: rgba(240, 242, 247, 0.274);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    border: rgba(0, 0, 255, 0);
}


.loginButtonstyle:hover {
    transition: all .2s ease-in-out;
    background-color: #0c7aa531;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
    box-shadow: 1px 1px #f7f3f6, 2px 2px #FF7878, 3px 3px #f5a6e4;
}