#getStartedButton {
  background-color: rgba(231, 149, 149, 0.952);
  color: white;
  border: rgba(0, 0, 255, 0);
  border-radius: 9px;
  content: "";
  display: table;
  clear: both;
  margin: auto;
  /* margin-top: 15%; */
  font-size: 120%;
}

#getStartedButton:hover {
  padding-left: 1%;
  transition: all 0.2s ease-in-out;
  background-color: rgb(0, 0, 0);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  box-shadow: 1px 1px #f7f3f6, 2px 2px #ff7878, 3px 3px #f5a6e4;
}
