body{
  overflow-x: hidden;
  width: 100%;
}

#topCaruselContainer{
  width: 100%;
  /* height: 50px; */
}

#topCarusel{
  width: 100%;

}

.caruseImage{
  width: 100%;
  height: 800px;
  object-fit: cover;
}